body {
    background-color: #e0e0e0;
}

.app-wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 90%;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
     grid-gap: 10px; 
}

.app-wrapper-content {
        grid-area: c;
        border-radius: 50px;
        background: #e0e0e0;
        box-shadow: 20px 20px 60px #bebebe,
            -20px -20px 60px #ffffff;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}